@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --font-family: 'Rubik', sans-serif;

    --shadow-color: 0deg 0% 63%;
    --shadow-elevation-medium:
        0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
        0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
        2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
        5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-high:
        0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
        1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
        2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
        4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
        7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
        11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
        17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
        25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);

    --color-black: hsl(228, 25%, 12%);
    --color-white: hsl(327, 31%, 93%);
    --color-text-primary: var(--color-black);
    --color-text-secondary: var(--color-white);
    --color-text-accent: hsl(211, 31%, 75%);

    --padding-1: 20px;
    --padding-2: 40px;
    --padding-3: 60px;
    --padding-4: 80px;
    --padding-5: 100px;
}

html,
body {
    height: 100%;
    margin: 0;
}

h1,
h2,
h3,
p,
li,
button,
text {
    font-family: var(--font-family);
}

text {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button {
    background-color: var(--color-black);
    color: var(--color-white);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 1rem 16px;
    box-shadow: var(--shadow-elevation-medium);
    transition: color 0.5s;
    transition-timing-function: cubic-bezier(0, 1, .52, .99);

}

button:hover {
    color: var(--color-text-accent);
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

header {
    height: 30vh;
    max-height: 216px;
    background: url('../images/header.jpg');
    /* Fallback fro old images */
    background: url('../images/header.jpg') center no-repeat;
    background-size: cover, contain;
    background-color: rgba(0, 0, 0, 0.683);
    background-blend-mode: soft-light;

    color: var(--color-text-secondary);
}

header a {
    color: var(--color-text-accent);
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
}

nav a {
    text-decoration: none;
    transition: color 0.5s;
    transition-timing-function: cubic-bezier(0, 1, .52, .99);

}

nav a.active {
    color: var(--color-text-secondary);
}

nav a:hover {
    color: var(--color-text-secondary);
}

/* Utilities */
.pt-1 {
    padding-top: var(--padding-1);
}

.pb-1 {
    padding-bottom: var(--padding-1);
}

/* Components */

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px 20px;
}

.card {
    background-color: var(--color-black);
    color: var(--color-text-secondary);

    border: 2px solid var(--color-black);
    box-shadow: var(--shadow-elevation-medium);
    transition: box-shadow 0.8s;
    transition-timing-function: cubic-bezier(0, 1, .52, .99);

    /* TODO: Fix cards on mobile */
    width: 20%;
    /* min-width: 300px; */
}

.card>a {
    color: var(--color-text-secondary);
    text-decoration: none;
}

.card:hover {
    box-shadow: var(--shadow-elevation-high);
}

.card__img {
    height: 150px;
    overflow-y: hidden;
}

.card__img img {
    width: 100%;
}

.card__content {
    text-align: center;
}

footer {
    background-color: var(--color-black);
    color: var(--color-text-secondary);
}

footer {
    margin-top: auto;
    padding: 8px;
}

footer a {
    color: var(--color-text-accent);
}